// Color Variables
// $primary-color: #00AAA1;
// $text-color: #666666;
// $text-color-dark: #222222;
// $text-color-light: #959595;
// $body-color: #fff;
// $border-color: #ACB9C4;
// $black: #000;
// $white: #fff;
// $gray: #f4fcff;

$primary-color: #F5AC26;
$text-color: #434243;
$text-color-dark: #373C38;
$text-color-light: #91989F;
$body-color: #FCFAF2;
$border-color: #ACB9C4;
$black: #434243;
$white: #FCFAF2;
$gray: #FFFFFB;
// Font Variables
$primary-font: "Noto Sans", "Noto Sans CJK TC", "Microsoft JhengHei";
$icon-font: 'themify';



// $primary: #F5AC26;
// $white: #FCFAF2;
// $black: #434243;
